<div class="form-group">
  <label for="password" class="col-sm-3 control-label">{{label}}</label>
  <div class="col-sm-8">
    <input type="password"
           class="form-control"
           id="password"
           name="password"
           ng-model="ngModel">
    <input type="input"
           style="display: none;"
           class="form-control"
           id="password-reveal"
           name="password-reveal"
           ng-model="ngModel">
    <div ng-repeat="cond in passConditions"
         ng-class="{ 'cond': true, 'cond-met': cond.test() }">
      {{cond.message}}
    </div>
  </div>
  <div class="col-sm-1" style="padding-left: 0px">
    <span class="glyphicon glyphicon-eye-open"
          id="password-eye"
          ng-mouseover="showPassword()"
          ng-mouseout="hidePassword()">
    </span>
  </div>
</div>
