a, a:visited, a:active {
  color: #3498db;
}

a:hover {
  color: #2980b9;
}

a.btn-primary {
  color: #ffffff;
}

#password-eye {
  font-size: 16px;
  line-height: 34px;
  cursor: pointer;
  cursor: hand;
}

.cond {
  color: #c0392b;
  font-size: 12px;
}

.cond-met {
  color: #16a085;
}

.flash-message {
  margin-top: 5px;
  color: #c0392b;
}
